.SignUpLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 5%;
}

.SignUpLink-Title {
    color: #d5a04a;
    font-size: 42pt;
    font-weight: 700;
} 
